* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
/* 斜体的文字不倾斜 */
em,
i {
  font-style: normal
}
/* 去掉li的小圆点 */
li {
  list-style: none
}
/* 图片边框置0 */
img {
  /* border0照顾低版本浏览器，如果图片外边包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle
}

button {
  /* 当我们鼠标经过button按钮的时候，鼠标变成小手 */
  cursor: pointer
}
/* 去掉链接标签的下划线，并设置颜色 */
a {
  color: #666;
  text-decoration: none
}
/* 鼠标经过链接时颜色变化为红色 */
a:hover {
  color: #c81623
}
/* 按钮字体设置 */
button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  border: 0;
  outline: none;
}

body {
/* 抗锯齿 */
  -webkit-font-smoothing: antialiased;

  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666
}

.hide,
.none {
  display: none
}
/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}


.w {
  width: 1200px;
  margin: 0 auto;
}


/* 页面底部footer */
.footer {
  margin-top: 10px;
  padding-top: 30px;
  height: 415px;
  background-color: #f5f5f5;
}

.mod_help {
  padding-top: 20px;
  padding-left: 50px;
  height: 185px;
  border-bottom: 1px solid #ccc;
}
.mod_help dl dt {
  font-size: 16px;
  margin-bottom: 10px;
}
.mod_help dl {
  float: left;
  width: 200px;
}
.mod_help dl:last-child {
  width: 90px;
  text-align: center;
}
/* 底部版权模块 */
.mod_copyright {
  text-align: center;
  padding-top: 20px;
}
.mod_copyright .mod_copyright_one ul li {
  display: inline-block;
  width: 60px;
  border-right: 1px solid black;
}
.mod_copyright .mod_copyright_one ul li:last-child {
  border: none;
}
.mod_copyright .mod_copyright_two {
  margin-top: 5px;
}
.mod_copyright .mod_copyright_three {
  margin-top: 20px;
}

